/*****************************************************************************
Main body style
*****************************************************************************/
html {  
	height: 100%;
	width: 100%;
}
  
body {
	height: 100%;
	width: 100%;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-weight: 700;
}

.main { 
    width: 100%;
    height: 100%;
    background: url(../img/background.png) repeat;
}


/*****************************************************************************
Warning message
*****************************************************************************/
#hidden {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url(../img/background.png) repeat;
    font-size: 24px;
    padding-top: 50px;
}


/*****************************************************************************
Navbar section
*****************************************************************************/
.navbar {
    background-color: #fff;
    border: none;
    }

img#yoobee {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#search {
    position: absolute;
    top: 8px;
    right: 65px;
    height: 38px;
    width: 40px; 
    border-color: transparent;
}

#search-icon {
    color: #888;
    font-size: 23px;
}

.navbar-toggle {
    border: none;
}

.icon-bar {
    padding-top: 5px;
}


/*****************************************************************************
Hero content carousel 
*****************************************************************************/
#hero {
    margin-top: 100px;
    padding: 0;
}

.btn-default {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    color: #333;
    margin-bottom: 10px;
}

.btn-default:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


/*****************************************************************************
Main content section
*****************************************************************************/
#courses, #why-yoobee, #students {
    padding: 0;
    padding-left: 10px;
}

#students {
    padding-bottom: 20px;
}

.icon {
    padding-right: 7px;
    padding-bottom: 5px;
}

p {
    font-size: 17px;
}

#blue {
    border: 2px solid #3EC5DD;
    background-color: #3EC5DD;
}
#blue:hover {
    background-color: #fff;
    color: #000;
}

#orange {
    border: 2px solid #F89E32;
    background-color: #F89E32;
}
#orange:hover {
    background-color: #fff;
    color: #000;
}

#purple {
    border: 2px solid #AA4E91;
    background-color: #AA4E91;
}
#purple:hover {
    background-color: #fff;
    color: #000;
}


/*****************************************************************************
Mailing list sign-up section
*****************************************************************************/
#email {
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #888;
}

input {
    width: 260px;
    height: 30px;
}

#update {
    border: 2px solid #8DC73F;
    background-color: #8DC73F;
    font-weight: 400;
    font-size: 18px;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    color: #888;
}

/*****************************************************************************
Social icons section
*****************************************************************************/
#social {
    background-color: #000;
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.social {
    color: #888;
    padding-right:15px;
}

.social:hover {
    color: #333;
}

#last-icon {
    padding-right: 0;
}

